@font-face {
	font-family: "Lobster";
	src: url('../../fonts/lobster.otf');
}

@font-face {
	font-family: "LeagueGothic-Regular";
	src: url('../../fonts/LeagueGothic-Regular.otf');
}

@font-face {
	font-family: "Raleway";
	src: url('../../fonts/Raleway-Light.ttf');
}

* {
	margin: 0;
	padding: 0;
	text-decoration:none;
}

.header{
	z-index: 3;
	position: absolute;

	width: 100vw;
	height: 75px;
	margin-top: 0;
	margin-left: 0;

	text-align: center;
	font-family: LeagueGothic-Regular, sans-serif;
	font-size: 50px;

	color: #ffffff;
	background-color: #1a0b30;
}

nav {
	width: 200px;
	background-color: #0b0416;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
}

nav ul{
	padding-right: 0px;
	padding-top: 70px;
}

nav ul li {
	list-style: none;
	padding: 4px 0px;
}

nav ul li a {
	font-size: 26px;
	font-family: Raleway;
	text-transform: default;
}

#toggleIcon {
	float: right;
	position: fixed;
	width: 56px;
	height: 56px;
	background-image: url('../../images/navIcon.png');
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1050;
	top: 10px;
	right: 10px;
}

.rect{
	z-index: 0;
	position: absolute;

	height: 90vh;
	width: 90vw;

	margin-top: 5vh;
	margin-left: 5vw;

	border-radius: 20px;
	border-style: solid;
	border-width: thick;
	border-color: rgba(26, 11, 48, 0.3);

	background-color: #341d5b;
	opacity: 0.9;
}

.rect2{
	z-index: 1;
	position: absolute;
	transform-origin: center;

	height: 80vh;
	width: 80vw;

	top: 5vh;
	left: 5vw;
	border-radius: 20px;

	background-color: #3e236d;

	color: #f6f3fb;
	text-align: center;
	opacity: 0.9;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6); /* Black background with opacity */
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
}

body{
	background-image: url("../../images/bg.jpg");
	background-size: 100%;
	background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
	background-color: #1E0731;
	z-index: -1;
}