{% extends 'layout.html' %}
	{% block title %}
		<title>Orbitus &bull; Sign In</title>
	{% endblock title %}
	{% block content %}
	<div class="header animated fadeIn">
		Log in
		<div id="toggleIcon" onclick="toggle(this)">
			<div class="bar1"></div>
 			<div class="bar2"></div>
  			<div class="bar3"></div>
		</div>
		
		<nav id="menu" style="right: -200px;">
			<ul>
				<li id="l1" class="hvr-underline-from-left"><a href="/"><i class="fa fa-home hvr-grow" aria-hidden="true"></i>   Home</a></li>
				<!--li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>
				Account</a></li-->
				<li id="l2" class="hvr-underline-from-center"><a href="#"><i class="fa fa-info-circle hvr-bob" aria-hidden="true"></i>   About</a></li><br>
				<li id="l3" class="hvr-underline-from-right"><a href="signup"><i class="fa fa-user-plus hvr-wobble-bottom" aria-hidden="true"></i>   Sign Up</a></li>
				<li id="l4" class="hvr-underline-reveal"><a href="javascript:history.back()"><i class="fa fa-chevron-left hvr-grow-rotate" aria-hidden="true"></i>   Back</a></li>
			</ul>
		</nav>
	</div>
	<div class="rect animated flipInX">
		<div class="rect2">
			<h1 class="headText animated fadeIn">Sign In</h1>
			<div style="height: 50vh;
						width: 68vw;
						top: 15vh;
						left: 6vw;
						transform-origin: center;
						position: absolute;
						background-color: rgba(0, 0, 0, 0.1);
						border-top-left-radius: 35px;
						border-bottom-right-radius: 35px;
						">
				<div style="height: 43vh;
							width: calc(60vw);
							top: 6vh;
							left: calc(10vw - 20px);
							transform-origin: center;
							position: absolute;
							background-color: rgba(0, 0, 0, 0.0);
							border-width: thin;
							border-style: none;
							border-color: #1E0731;
							text-align: left">
					<div class="bodyContent">
						<div class="loginbox">
							<form>
								Username/UniqueID<br>
								<input type="text" name="" placeholder="e.g. wakawaka123 or #1234"><br><br>
								Password<br>
								<input type="password" name="" placeholder="e.g. &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"><br><br>
								<input type="submit" name="" value="Login In" class="hvr-fade"><br><br>
								<a href="#" style="text-decoration: none">Lost your password?</a><br>
								<a href="signup" style="text-decoration: none">Don't have an account?</a><br>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	{% endblock content %}
	{% block footer %}
	&copy; Copyright 2018 Orbitus Pvt. Ltd.
	{% endblock footer %}
	
