{% extends 'layout.html' %}
	{% block title %}
		<title></title>
	{% endblock title %}
	{% block content %}
	<div class="header animated fadeIn">
		Sign in
		<div id="toggleIcon" onclick="toggle(this)">
			<div class="bar1"></div>
 			<div class="bar2"></div>
  			<div class="bar3"></div>
		</div>
		
		<nav id="menu">
			<ul>
				<li id="l1" class="hvr-underline-from-left"><a href="/"><i class="fa fa-home hvr-grow" aria-hidden="true"></i>   Home</a></li>
				<!--li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>
				Account</a></li-->
				<li id="l2" class="hvr-underline-from-center"><a href="#"><i class="fa fa-info-circle hvr-bob" aria-hidden="true"></i>   About</a></li><br>
				<li id="l3" class="hvr-underline-reveal"><a href="/"><i class="fa fa-chevron-left hvr-grow-rotate" aria-hidden="true"></i>   Back</a></li>
			</ul>
		</nav>
		<script type="text/javascript">
			var toggleStatus = 0;
			document.getElementById("menu").style.right = "-200px";
			function toggle(x)
			{
				if (toggleStatus == 1)
				{
					document.getElementById("menu").style.right = "-200px";
					x.classList.toggle("change");
					toggleStatus = 0;
				}
				else if (toggleStatus == 0)
				{
					document.getElementById("menu").style.right = "0px";
					x.classList.toggle("change");
					toggleStatus = 1;
				}

			}
		</script>
	</div>
	<div class="rect animated flipInX">
		<div class="rect2">
			<h1 class="headText animated fadeIn">Log In</h1>
			<div style="height: 50vh;
						width: 68vw;
						top: 15vh;
						left: 6vw;
						transform-origin: center;
						position: absolute;
						background-color: rgba(0, 0, 0, 0.1);">
				<div style="height: 43vh;
							width: calc(55vw);
							top: 6vh;
							left: calc(10vw - 15px);
							transform-origin: center;
							position: absolute;
							background-color: rgba(0, 0, 0, 0.0);
							border-width: thin;
							border-style: solid;
							border-color: #1E0731;
							text-align: left">
					Username:

				</div>
			</div>

		</div>
	</div>
	<div class="footer animated fadeIn delay-1s">
		&copy; Copyright 2018 Orbitus Pvt. Ltd.
	</div>
	{% endblock content %}
